@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

button {
  padding: 10px 25px;
  font-family: inherit;
}

.hidden {
  display: none;
}
